<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Always Music</title>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a routerLink="/home">  <img src="../assets/img/spotify.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>
        <a class="navbar-brand">&nbsp;Music</a>

        <div class="collapse navbar-collapse">
            <div class="mr-auto">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/songs">Songs</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/albums">Albums</a>
                    </li>
                </ul>
            </div>

            
            <ul class="navbar-nav ml-auto">
                <li *ngIf="!authService.loggedUser" class="nav-item active">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li *ngIf="authService.loggedUser" class="nav-item active">
                    <a class="nav-link" routerLink="/profile">{{authService.loggedUser}}</a>
                </li>
                <li *ngIf="authService.loggedUser" class="nav-item active">
                    <a class="nav-link" (click) = "onLogout()">Logout</a>
                </li>          
            </ul>
        </div>
    </nav>

    <router-outlet></router-outlet>>
    

    
   <!--  <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Souhail Mihoubi 2022</p></div>
    </footer> -->


   
</body>


</html>

