<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Full Width Pics - Start Bootstrap Template</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
    </head>
    <body>
        <section class="py-3">
        </section>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('../../assets/img/1.jpg')">
            <div class="text-center my-5">
                
                <img class="img-fluid rounded-circle mb-4" src="../../assets/img/souhail.jpg" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">Mihoubi Souhail</h1>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Projet Fin de Semestre</h2>
                        <p class="lead">Ce projet est une application Spring Boot, Angular qui contient deux entités Music et Album.</p>
                        <p class="mb-0">J'ai utilisé les api pour développer cette application qui assure les opérations CRUD ainsi que la recherche et l'authentification et les droits d'accés.</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
